{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id = mypage_album_body>
    <div id="menu">
        <h2>마이페이지</h2>
        <ul>
            <li><a href="{% url 'mypage_album' %}">앨범보기</a></li>
            <li><a href="#">분석결과</a></li>
            <li><a href="{% url 'mypage_mypost' %}">내게시글</a></li>
            <li><a href="{% url 'mypage_myreply' %}">내댓글</a></li>
            <li><a href="#">좋아요(사진)</a></li>
            <!-- 원하는 만큼 메뉴 항목을 추가하세요 -->
          </ul>
    </div>

    <div id="content">        

        <div id="post_content"> <!-- 구현시 게시글 수 만큼 반복-->
            <div class="mypost_item">
                <div class="mypost_image_container">
                    <img src="https://via.placeholder.com/800x600" alt="이미지">                    
                </div>
                <div class="mypost_contents_container">
                    제목 : 제목입니다. <br>
                    태그 : #강#바다#동물 <br>
                    내용 : 내용입니다. <br>
                    <br><a href="#">수정</a> <a href="#">삭제</a> 
                </div>
            </div>
            <div class="mypost_item">
                <div class="mypost_image_container">
                    <img src="https://via.placeholder.com/800x600" alt="이미지">                    
                </div>
                <div class="mypost_contents_container">
                    제목 : 제목입니다. <br>
                    태그 : #강#바다#동물 <br>
                    내용 : 내용입니다. <br>
                    <br><a href="#">수정</a> <a href="#">삭제</a> 
                </div>
            </div>
            <div class="mypost_item">
                <div class="mypost_image_container">
                    <img src="https://via.placeholder.com/800x600" alt="이미지">                    
                </div>
                <div class="mypost_contents_container">
                    제목 : 제목입니다. <br>
                    태그 : #강#바다#동물 <br>
                    내용 : 내용입니다. <br>
                    <br><a href="#">수정</a> <a href="#">삭제</a> 
                </div>
            </div>
            <div>
                1/2/3/4/5/6 페이지
            </div>      
        </div>
        
    </div>

</div>
{% endblock content %}
