{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id = mypage_album_body>
    <div id="menu">
        <h2>마이페이지</h2>
        <ul>
            <li><a href="{% url 'mypage_album' %}">앨범보기</a></li>
            <li><a href="#">분석결과</a></li>
            <li><a href="{% url 'mypage_mypost' %}">내게시글</a></li>
            <li><a href="{% url 'mypage_myreply' %}">내댓글</a></li>
            <li><a href="#">좋아요(사진)</a></li>
            <!-- 원하는 만큼 메뉴 항목을 추가하세요 -->
          </ul>
    </div>

    <div id="content">
        <div class="checkbox-container"> <!-- 구현식 태그 수만큼 반복-->
            <input type="checkbox" id="checkbox-sea" class="filter-checkbox">
            <label for="checkbox-sea">바다</label>    
            <input type="checkbox" id="checkbox-food" class="filter-checkbox">
            <label for="checkbox-food">음식</label>   
            <input type="checkbox" id="checkbox-animal" class="filter-checkbox">
            <label for="checkbox-animal">동물</label>    
            <input type="checkbox" id="checkbox-human" class="filter-checkbox">
            <label for="checkbox-human">사람</label>
        </div>

        <div id="img_content"> <!-- 구현시 사진 수 만큼 반복-->
            <div class="image-container">
                <img src="https://via.placeholder.com/800x600" alt="이미지">
                날짜/태그
                <br><a href="#">수정</a> <a href="#">삭제</a> <a href="#">사진편집</a>
            </div>
            <div class="image-container">
                <img src="https://via.placeholder.com/800x600" alt="이미지">
            </div>
            <div class="image-container">
                <img src="https://via.placeholder.com/800x600" alt="이미지">
            </div>
            <div class="image-container">
                <img src="https://via.placeholder.com/800x600" alt="이미지">
            </div>
            <div class="image-container">
                <img src="https://via.placeholder.com/800x600" alt="이미지">
            </div>
            <div class="image-container">
                <img src="https://via.placeholder.com/800x600" alt="이미지">
            </div>
            
        </div>
        <div > 
            1/2/3/4/5/6 페이지
        </div>
    </div>

</div>
{% endblock content %}
